* {
    margin: 0; /* removes all default browser margins */
    padding: 0; /* removes all default padding */
    box-sizing: border-box; /* industry standard */
    text-decoration: none; /* removes underlines from everything (i.e. links) */
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(30, 30, 30);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}