#intro {
    height: calc(100vh - 6rem);
    margin: 0 auto;
    overflow: hidden;
}

.introWorkStatus {
    background: white;
    color: #53AC53;
    padding: 0.25rem 0.25rem;
    margin: 1rem auto;
    border: none;
    border-radius: 0.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

/* .desktopMenuBtn {
    background: white;
    color: rgb(30, 30, 30);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
} */
